@import url("https://use.fontawesome.com/d0c316cf02.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body, html {
  margin: 0;
  padding: 0;
}


.header {
  position: fixed;
  top: 30px;
  right: 60px;
  display: block;
  width: auto;
  position: fixed;
}

.footer-darkmode {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 30px;
  left: 30px;
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.footer-darkmode:hover {
  cursor: pointer;
}

.footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 40px;
  bottom: 30px;

  .footer-contact {
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 1;
  }

  a:link, a:visited {
    color: inherit;
  }

  a:hover {
    background: linear-gradient(135deg, #c544e6 0%, #2eb6d8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.logo {
  font-family: Raleway;
  letter-spacing: -1px;
  font-family: Raleway;
  font-size: 1.5em;


  /* make text non-selectable */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.navbar {
  position: fixed;
  top: 150px;
  right: 30px;
  z-index: 1;
  // background: gray;
  padding: 5px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style-type: none;

    li {
      font-size: 24px;
      float: left;
      color: #454545;
      
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .menu-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
      }

      .menu-container:hover {
        background: linear-gradient(135deg, #c544e6 0%, #2eb6d8 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .menu-label {
        font-size: 14px;
        font-weight: 900;
        font-family: Raleway;
      }
      
      a {
        display: block;
        padding: 14px;
        text-decoration: none;
        
      }
      a:link, a:visited {
        color: inherit;
      }
      a:hover {

      }
    }
  }
}

.home {
  margin-left: 100px;
  padding-top: 100px;
  
  .intro-text {
    margin-top: 200px;
    margin-left: 100px;
    font-family: Raleway;
    font-size: 4em;

    /* make text non-selectable */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    .typewriter {
      margin-top: 50px;
    }
  }
}

.page { /* includes about/contact/projects/skills */
  padding-top: 100px;
  margin-left: 150px;
  width: 90vw;
  line-height: 1.5;

  /* make text non-selectable */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  

  .project-view {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 60px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 200px;

    .project-element {
      display: flex;
      flex-direction: row;
      gap: 40px;

      .project-img {
        flex: 1;
        max-width: 300px;
        max-height: 350px;
        
        
        // overflow: hidden;

        img {
          max-width: 100%;
          border-radius: 15px;
          outline: 1px solid transparent; /* required to prevent trailing junk pixels after animations */
          box-shadow: 0px 14px 18px -8px rgba(0,0,0,0.3);

          user-drag: none; 
          user-select: none;
          -moz-user-select: none;
          -webkit-user-drag: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }
      }
      .project-info {
        display: flex;
        flex-direction: column;
        flex: 4;
        gap: 15px;

        hr {
          border: none;
          height: 1px;
          color: black;
          background-color: black;
          width: 100%;
        }
        
        .project-info-top {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;

          .project-title {
            font-family: Raleway;
            font-size: 2em;
            font-weight: 600;
          }
        }

        .project-info-second {
          display: flex;
          flex-direction: row;
          gap: 15px;
          align-items: center;
        }

        .project-tags {
          display: flex;
          margin-top: 0px;
          flex-direction: row;
          gap: 5px;
        }

        .project-demo {
          margin-top: auto;
          justify-self: flex-end;
          padding-bottom: 10px;
        }
      }
    }
  }

  h2 {
    font-size: 3em;
    font-family: Raleway;
  }
  p {
    font-size: 2em;
    font-family: Raleway;
  }

  .brackets {
    font-family: Roboto;
    font-weight: 300;
    color: skyblue;
  }
}
.emphasis {
  background: linear-gradient(135deg, #c544e6 0%, #2eb6d8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.strong {
  font-weight: 600;
}

.about {
  width: 70%;
}



.project-github {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 600;
  // border: 1px solid black;
  border-radius: 3px;
  padding: 3px 5px;

  /* transitions */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.github-link:link, .github-link:visited {
  text-decoration: none;
  color: inherit;
}



.project-github-dark {
  border: 1px solid white;
  color: white;
  background: black;
}

.project-github-dark:hover {
  color: black;
  background: white;
  /* transitions */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.project-github-light {
  border: 1px solid black;
  color: black;
  background: white;
}

.project-github-light:hover {
  color: white;
  background: black;

  /* transitions */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.project-date {
  font-family: Roboto;
  font-size: 14px;
  border-radius: 5px;
  padding: 3px 5px;
  color: white;
  background: linear-gradient(135deg, #c544e6 0%, #2eb6d8 100%);
}

.project-tag {
  font-family: Roboto;
  font-size: 14px;
  padding: 1px 7px;
  border-radius: 16px;

  /* transitions */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.project-tag-light {
  color: white;
  border: 1px solid black;
  background: black;
}

.project-tag-light:hover {
  background: white;
  color: black;

  /* transitions */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.project-tag-dark {
  color: black;
  border: 1px solid #ececec;
  background: #ececec;
}

.project-tag-dark:hover {
  background: black;
  color: white;

  /* transitions */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.skills {
  .skills-content-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

    .skills-grid-desc {
      font-family: Raleway;
      // font-weight: 600;
      margin-bottom: 20px;
      font-size: 24px;
    }

    .skills-grid-size-adjust {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: 80%;
      justify-content: center;
      padding-bottom: 50px;

      .skill-grid-size-button {
        font-size: 2rem;
      }

      .skill-grid-size-button:hover {
        background: linear-gradient(135deg, #c544e6 0%, #2eb6d8 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .skills-grid {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 60%;
      gap: 40px;
  
      .skill-element {
        display: flex;
        flex-direction: column;
        width: 130px;
        height: 130px;
        padding: 10px;
        border-radius: 5px;
        align-items: center;

        box-shadow: 0 0 1rem 0 rgba(0,0,0,0.4);
        background-color: rgba(255,255,255,0.2);
        backdrop-filter: blur(5px);

        .skill-img {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 90%;
          height: 90%;

          img {
            max-width: 70%;
            max-height: 70%;

            user-drag: none; 
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
          }
        }
        .skill-name {
          font-family: Raleway;
          // font-weight: 600;
          font-size: 14px;
          text-align: center;
        }

      }
    }
  }
  
  .certificate-list {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 250px;
    justify-content: center;
    // align-items: center;

    gap: 30px;

    .certificate-item {
      display: flex;
      width: 100%;
      flex-direction: row;
      font-family: Raleway;
      // font-weight: 600;
      font-size: 20px;
      border-radius: 3px;
      margin-left: 0px;
      padding: 15px;
      align-items: center;
  
      box-shadow: 0 0 1rem 0 rgba(0,0,0,0.4);
      background-color: rgba(255,255,255,0.2);
      backdrop-filter: blur(5px);
    } 
    .certificate-description {
      margin-left: 10px;
      font-size: 16px;
      letter-spacing: 0px;
    }
    .certificate-link {
      display: inline-block;
      font-size: 20px;
      margin-left: auto;
    }
    
    .certificate-link a {
        text-decoration: none;
    }
  
  
    .certificate-name i {
        font-weight: 600;
    }
    
    #freecodecamp-icon {
        color: #ff7d00;
    }
  }
}

.contact-content-div {
  width: 90%;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-desc {
  text-align: center;
  font-family: Raleway;
  font-weight: 600;
  font-size: 1.5em;
}
.contact-box {
  width: 90%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.skills-content-divider {
  height: 250px;
}
.title {
  font-family: Raleway;
  font-weight: 600;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.project-expand-button {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 50px;
  width: 300px;
  border-radius: 25px;
  background: linear-gradient(135deg, #c544e6 0%, #2eb6d8 100%);
  color: white;
  font-family: Raleway;
  opacity: 1;

  /* transitions */
  transition: opacity 0.2s ease-in-out;
}

.project-expand-button:hover {
  opacity: 0.7;

  /* transitions */
  transition: opacity 0.2s ease-in-out;
}


.button-cv {
  font-size: 1.5em;
}